# Ignora le impostazioni per l'area di lavoro di Visual Studio Code
/.vscode

# Ignora i file non strettamente necessari di LaTeX
*.synctex.gz
*.xdv
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex(busy)